networks:
  shared:
    external: true

services:
  metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    restart: unless-stopped
    networks:
      - shared
    ports:
      - "8081:8081"
    volumes:
      - /home/tmv-cloud/homelab/services/media/downloads/:/downloads
