networks:
  shared:
    external: true

services:
  trilium:
    image: triliumnext/trilium:latest
    restart: unless-stopped
    volumes:
      - ./data:/home/node/trilium-data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - shared
