networks:
  shared:
    external: true
services:
  jellyfin:
    networks:
      - shared
    image: jellyfin/jellyfin
    container_name: media-jellyfin
    user: 1000:1000
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: ./music/
        target: /music
    restart: "unless-stopped"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  lidarr:
    container_name: media-lidarr
    image: lscr.io/linuxserver/lidarr
    networks:
      - shared
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ./lidarr/config:/config
      - ./music:/music
      - ./downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped

  lidatube:
    image: thewicklowwolf/lidatube:latest
    container_name: media-lidatube
    volumes:
      - ./lidatube/config:/lidatube/config
      - ./music:/lidatube/downloads
      - /etc/localtime:/etc/localtime:ro
    networks:
      - shared
    restart: unless-stopped

  metube:
    container_name: media-metube
    image: alexta69/metube
    networks:
      - shared
    volumes:
      - ./downloads:/downloads
    restart: unless-stopped
