networks:
  shared:
    external: true

services:
  jellyfin:
    networks:
      - shared
    image: jellyfin/jellyfin
    container_name: media-jellyfin
    user: 1000:1000
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: ./music/
        target: /music
    ports:
      - "${HOST_IP}:8096:8096"   
    restart: "unless-stopped"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  lidarr:
    container_name: media-lidarr
    image: ghcr.io/hotio/lidarr:pr-plugins
    networks:
      - shared
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ./lidarr/config:/config
      - ./music:/music
      - ./downloads:/downloads
      - /usr/bin/ffmpeg:/bin/ffmpeg:ro
      - /usr/bin/ffprobe:/bin/ffprobe:ro
    ports:
      - "${HOST_IP}:8686:8686"
    restart: unless-stopped

