networks:
  shared:
    external: true

services:
  jellyfin:
    networks:
      - shared
    image: jellyfin/jellyfin
    container_name: media-jellyfin
    user: 1000:1000
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: ./music/
        target: /music
    ports:
      - "${HOST_IP}:8096:8096"   
    restart: "unless-stopped"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.thiagomvas.dev`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin.tls=true"
  lidarr:
    container_name: media-lidarr
    image: ghcr.io/hotio/lidarr:pr-plugins
    networks:
      - shared
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ./lidarr/config:/config
      - ./music:/music
      - ./downloads:/downloads
      - /usr/bin/ffmpeg:/bin/ffmpeg:ro
      - /usr/bin/ffprobe:/bin/ffprobe:ro
    ports:
      - "${HOST_IP}:8686:8686"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.thiagomvas.dev`)"
      - "traefik.http.routers.lidarr.entrypoints=websecure"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.routers.lidarr.tls=true"

