networks:
  shared:
    external: true
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: media-jellyfin
    user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: ./music/
        target: /music
    restart: "unless-stopped"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  metube:
    image: alexta69/metube
    ports:
      - 8082:8081
    volumes:
      - ./downloads:/downloads
    restart: unless-stopped
